<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="net.java.treaty.eclipse.typeicons" name="net.java.treaty.eclipse.typeicons" schema="schema/net.java.treaty.eclipse.typeicons.exsd"/>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Treaty"
            visible="true"
            id="net.java.treaty.eclipse.actionSet">
         <menu
               label="&amp;Treaty"
               id="treaty">
            <separator
                  name="treaty">
            </separator>
         </menu>
         <action
               label="Contract Browser"
               class="net.java.treaty.eclipse.actions.DisplayContractView"
               tooltip="List plugin contracts found"
               menubarPath="treaty/treaty"
               id="net.java.treaty.eclipse.actions.DisplayContractView">
         </action>
         <action
               label="Vocabulary Browser"
               class="net.java.treaty.eclipse.actions.DisplayVocabularyView"
               tooltip="List installed contract vocabulary"
               menubarPath="treaty/treaty"
               id="net.java.treaty.eclipse.actions.DisplayVocabularyView">
         </action>
         <action
               label="Trigger and Action Browser"
               class="net.java.treaty.eclipse.actions.DisplayTriggerActionView"
               tooltip="List installed Triggers and Actions"
               menubarPath="treaty/treaty"
               id="net.java.treaty.eclipse.actions.DisplayVocabularyView">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="net.java.treaty.eclipse"
            name="Treaty">
      </category>
      <view
            category="net.java.treaty.eclipse"
            class="net.java.treaty.eclipse.views.ContractView"
            icon="icons/sample.gif"
            id="net.java.treaty.eclipse.views.ContractView"
            name="Plugin Contracts">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="net.java.treaty.eclipse"
            name="Treaty">
      </category>
      <view
            category="net.java.treaty.eclipse"
            class="net.java.treaty.eclipse.views.VocabularyView"
            icon="icons/sample.gif"
            id="net.java.treaty.eclipse.views.VocabularyView"
            name="Contract Vocabulary">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="net.java.treaty.eclipse"
            name="Treaty">
      </category>
      <view
            category="net.java.treaty.eclipse"
            class="net.java.treaty.eclipse.views.TriggerActionView"
            icon="icons/sample.gif"
            id="net.java.treaty.eclipse.views.TriggerActionView"
            name="Trigger and Action View">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               id="net.java.treaty.eclipse.views.ContractView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.TaskList">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
      <toc
            file="tocconcepts.xml">
      </toc>
      <toc
            file="tocsamples.xml">
      </toc>
   </extension>
   <extension
         id="net.java.treaty.eclipse.ui.manualtrigger"
         name="Trigger Vocabulary for Manualy Verification Events."
         point="net.java.treaty.eclipse.triggervocabulary">
          <triggervocabulary class="net.java.treaty.eclipse.ui.triggers.ManualTriggerVocabulary" /> 
   </extension>
   <extension
         id="net.java.treaty.eclipse.ui.displayresults"
         name="Action Vocabulary for Showing results in UI."
         point="net.java.treaty.eclipse.actionvocabulary">
      <actionvocabulary
            class="net.java.treaty.eclipse.ui.actions.UIActionVocabulary">
      </actionvocabulary>
   </extension>

</plugin>
