<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension point="net.java.treaty.eclipse.typeicons" id="net.java.treaty.eclipse.typeicons.owl" name="net.java.treaty.eclipse.typeicons.owl">
          <iconprovider class="net.java.treaty.eclipse.vocabulary.owl.ui.IconProvider"/> 
   </extension>
</plugin>
