<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="net.java.treaty.eclipse.systemservices.bundletrigger"
         name="Trigger Vocabulary for OSGI Bundle Events."
         point="net.java.treaty.eclipse.triggervocabulary">
          <triggervocabulary class="net.java.treaty.eclipse.systemservices.BundleTriggerVocabulary" ontology="vocabulary/bundle.owl"/> 
   </extension>
   <extension
         id="net.java.treaty.eclipse.systemservices.loggeraction"
         name="Action Vocabulary for Logging."
         point="net.java.treaty.eclipse.actionvocabulary">
          <actionvocabulary class="net.java.treaty.eclipse.systemservices.LoggerActionVocabulary" /> 
   </extension>
</plugin>
