<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="nz.ac.massey.treaty.xml" version="1.0.0">
	<requires>
		<import plugin-id="nz.ac.massey.treaty" />
	</requires>
	<runtime>
		<library id="valid" path="classes/" type="code">
		</library>
	</runtime>
	<extension plugin-id="nz.ac.massey.treaty" point-id="verification"
		id="verification">
		<parameter id="class" value="nz.ac.massey.treaty.xml.XMLVocabulary" />
		<parameter id="name" value="xml vocabulary" />
	</extension>
</plugin>