<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="net.java.treaty.test.legislator1.xc1"
         name="External Contract 1"
         point="net.java.treaty.eclipse.contract">
         <contract
                location="META-INF/net.java.treaty.test.consumer2.xp1.contract"></contract>
   </extension>

</plugin>
