<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="nz.ac.massey.treaty.example" version="1.0.0" class="nz.ac.massey.treaty.example.Plugin">
	<requires>
		<import plugin-id="nz.ac.massey.treaty" />
	</requires>
	<runtime>
		<library id="core" path="classes/" type="code">
			<export prefix="*" />
		</library>
	</runtime>
	<extension-point id="dateformatter">
		<parameter-def id="class" multiplicity="none-or-one"/>
		<parameter-def id="formatdef" multiplicity="none-or-one" />
		<parameter-def id="name" />
	</extension-point>

</plugin>