body {
 background: White;
 color: #483d8b;
}
h1 {
 margin-left: 5px;
 font-size: 20px;
 color: #333333;
 font: small-caps;
 font-variant: small-caps;
}
h2 {
 background-color: #dcdcdc;
 font-size: 18px;
 background-attachment: fixed;
 padding-left: 10px;
 padding-bottom: 5px;
 padding-top: 5px;
 border-width: bold;
 border-spacing: 2px;
 border-style: solid none solid none;
 border-color: black;
}
h3 {
 font-size: 16px;
}
a {
 color: #333333;
 text-decoration: none;
 font-weight: bold;
}
table.TREE_SUCCESS {
	background-color: #90ee90;
	border-width: thin thin thin thin;
	border-spacing: 2px;
	border-style: none none none solid;
	border-color: black;
	font-size: small;
}

table.TREE_FAILED {
	background-color: #ffc0cb;
	border-width: thin thin thin thin;
	border-spacing: 2px;
	border-style: none none none solid;
	border-color: black;
	font-size: small;
}

table.PLAIN {
	background-color: #bfbfbf;
	border-width: thin thin thin thin;
	border-spacing: 2px 20px 20px 2px;
	border-style: solid;
	border-color: black;
}

table.PLAIN td {
	border-width: thin;
	padding: 1px;
	border-style: solid solid none none;
	border-color: black;
}
table.PLAIN th {
	border-width: thin;
	padding: 1px;
	border-style: solid solid none none;
	border-color: black;
}
tr.CONSUMER {
	font-style: italic;
	font-size: small;
}
tr.SUPPLIER {
	font-weight: bold;
	background-color: #dfdfdf;
	font-size: small;
}
