<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="nz.ac.massey.treaty.example.fancy" version="1.0.0">
	<requires>
		<import plugin-id="nz.ac.massey.treaty.example" />
	</requires>
	<runtime>
		<library id="fancy" path="classes/" type="code">
		</library>
	</runtime>
	<extension plugin-id="nz.ac.massey.treaty.example" point-id="dateformatter"
		id="dateformatter">
		<parameter id="formatdef" value="dateformat.xml" />
		<parameter id="name" value="fancy date format" />
	</extension>
</plugin>