table.contract {
	border: 0;
	background: #B0C4DE;
	padding: 5px 5px;
	margin: 5px 5px;
	width: 100%;
}
table.success {
	background: #42FF2F;
	margin: 5px 5px 5px 5px;
	border: thin solid Gray;
	width: 100%;
}
table.failure {
	background: #FF6347;
	margin: 5px 5px 5px 5px;
	border: thin solid Gray;
	width: 100%;
}
table.resource {
	margin: 5px 5px 5px 5px;
	border: thin dashed Gray;
	width: 100%;
}
td.conditionpart {
}
td.value {
}
td.label {
	font-weight: bold;
	text-align: right;
}
td.connective {
	font-weight: bold;
	text-align: center;
}