<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="net.java.treaty.eclipse.vocabulary.ocl"
         name="net.java.treaty.eclipse.vocabulary.ocl"
         point="net.java.treaty.eclipse.vocabulary">
       <vocabulary class="net.java.treaty.eclipse.vocabulary.ocl.OCLVocabulary" ontology="/vocabulary/ocl.owl"/> 
   </extension>
</plugin>
